In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [4]:
df.head(2)

,id,roomsharingprefrence,yourgender,genderpref,budget,agerange,friendshipchoice,personalitytrait,dailyroutine,roommatesdailyroutine,...,moviepref,citipref,cleanliness,skillscookclean,comforwithcompany,conflictresolution,boundaries,createdat,updatedat,deletedat
0,1,True,Male,Male,5000-10000,20-25,"Yes, I\m looking for a friend.",Compatibility in Tastes and Habits,morning person,Both,...,Comedy,Mumbai,I\m diligent about cleaning and enjoy maintain...,3,I enjoy company and having people over.,I prefer open and direct communication.,I believe in clear and open communication abou...,2023-08-26 15:19:44,2023-08-26 15:19:44,NaN
1,2,True,Female,Other,5000-10000,25-30,"Yes, I'm looking for a friend.",Compatibility in Tastes and Habits,night person,Morning,...,Comedy,Greater Noida,I'm diligent about cleaning and enjoy maintain...,3,I enjoy company and having people over.,I prefer open and direct communication.,I prefer a more relaxed approach and tend to g...,2023-08-28 15:31:18,2023-08-28 15:31:18,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     10002 non-null  int64
 1   roomsharingprefrence   10002 non-null  bool
 2   yourgender             10002 non-null  object
 3   genderpref             10002 non-null  object
 4   budget                 10002 non-null  object
 5   agerange               10002 non-null  object
 6   friendshipchoice       10002 non-null  object
 7   personalitytrait       10002 non-null  object
 8   dailyroutine           10002 non-null  object
 9   roommatesdailyroutine  10002 non-null  object
 10  dietrypref             10002 non-null  object
 11  personality            10002 non-null  object
 12  socialstatus           10002 non-null  object
 13  youroccup              10002 non-null  object
 14  roommateoccup          10002 non-null  object
 15  moviepref              10002 non-null  object
 16  citipref               10002 non-null  object
 17  cleanliness            10002 non-null  object
 18  skillscookclean        10002 non-null  int64
 19  comforwithcompany      10002 non-null  object
 20  conflictresolution     10002 non-null  object
 21  boundaries             10002 non-null  object
 22  createdat              10002 non-null  object
 23  updatedat              10002 non-null  object
 24  deletedat              0 non-null      float64
dtypes: bool(1), float64(1), int64(2), object(21)
memory usage: 1.8+ MB